{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8",
          "browsers": [
            "> 0.2%",
            "last 2 versions",
            "IE >= 10",
            "safari >= 8",
            "ios >= 7",
            "android >= 4",
            "bb >= 10"
          ]
        },
        "debug": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-transform-modules-commonjs",
    "dynamic-import-node"
  ]
}
